
body{
    background-color: #f6f6f6;
}


.card1{
    background-color: white;
    border-radius: 15px;
    padding: 2%;

    
}


.card1:hover{
    box-shadow: 0px 0px 7px;
    transition: 0.2s;
}


.card__image{
    height: 40%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}